* {
    margin: 0;
    border: 0;
    box-shadow: border-box;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    text-decoration: none;
    outline-style: none;
}
html,
body,
div#root {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #ab2c74;
}
